<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities</title>
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet">

    <style>
        .card-img-top {
            height: 200px; 
            object-fit: cover; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card text-center mb-3">
            <div class="card-body">
                <h1 class="card-title">SportsConnect</h1>
            </div>
        </div>

        <div class="row">
            {% for facility_info in facilities_with_availability %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ facility_info.facility.image.url }}" class="card-img-top" alt="{{ facility_info.facility.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ facility_info.facility.name }}</h5>

                            <!-- Desplegable para horarios -->
                            <label for="timeSlotSelect">Available Times</label>
                            <select class="form-select" id="timeSlotSelect">
                                {% for slot in facility_info.availability %}
                                    <option value="{{ slot.id }}">{{ slot.time_slot|time:"H:i" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-VOLgN6fbpTbDXPeJm04IGFsjB5WlwF6kKm5pzoS7Vt5CayQPSiD3l0pvn5sKJdFQ" crossorigin="anonymous"></script>
</body>
</html>