<!DOCTYPE html>
<html lang="es">

{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">

        <!-- Título principal -->
        <div class="card text-center mb-3" style="background-color: #ffffff; border: none;">
            <div class="card-body">
                <h1 class="card-title" style="color: #000000;">SportsConnect EAFIT</h1>
                <p style="color: #000000;">
                    ¡Bienvenido/a a SportsConnect, donde reservar un espacio en nuestra universidad nunca había sido tan fácil!
                </p>
                {% if not user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                    Si deseas reservar un espacio, por favor INICIA SESIÓN o REGÍSTRATE si es tu primera vez utilizando la plataforma.
                </div>
                {% endif %}
            </div>
        </div>

        <h2 style="color: #000000; text-align: center;">Estos son los espacios que tenemos para ti</h2>

        <!-- Barra de búsqueda -->
        <form method="get" action="{% url 'home' %}" class="d-flex justify-content-center my-3">
            <input type="text" name="search" placeholder="Busca por deporte o instalación"
                class="form-control w-50" value="{{ search_query }}">
            <button type="submit" class="btn btn-primary ms-2" style="background-color: #000053; border-color: #000053;">
                Buscar
            </button>
        </form>

        <!-- Desplegables de los espacios -->
        <div class="accordion" id="spacesAccordion">
            {% for facility_info in facilities_with_availability %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ facility_info.facility.idFacility }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ facility_info.facility.idFacility }}" aria-expanded="false" aria-controls="collapse{{ facility_info.facility.idFacility }}" style="font-family: 'Helvetica', sans-serif; font-weight: bold;">
                        {{ facility_info.facility.name }}
                    </button>
                </h2>
                <div id="collapse{{ facility_info.facility.idFacility }}" class="accordion-collapse collapse" aria-labelledby="heading{{ facility_info.facility.idFacility }}" data-bs-parent="#spacesAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ facility_info.facility.image.url }}" class="img-fluid" alt="{{ facility_info.facility.name }}">
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #000000;">Descripción:</h4>
                                <p style="color: #000000;">{{ facility_info.facility.description }}</p>

                                <label for="datePicker_{{ facility_info.facility.idFacility }}" class="form-label" style="color: #000000;">Seleccionar Fecha</label>
                                <input type="text" class="form-control datePicker" id="datePicker_{{ facility_info.facility.idFacility }}" data-id-facility="{{ facility_info.facility.idFacility }}" placeholder="Seleccionar una fecha">

                                <label for="timeSlotSelect_{{ facility_info.facility.idFacility }}" style="color: #000000;">Horarios Disponibles</label>
                                <select class="form-select timeSlotSelect" id="timeSlotSelect_{{ facility_info.facility.idFacility }}">
                                    <option value="">Selecciona un horario...</option>
                                </select>

                                <p id="error_{{ facility_info.facility.idFacility }}" class="text-danger" style="display:none;">Apreciado usuario, no hay horarios disponibles para esta fecha.</p>

                                {% if user.is_authenticated %}
                                    <button class="btn btn-primary mt-2 reserve-btn" style="background-color: #000053; border-color: #000053;" data-id-facility="{{ facility_info.facility.idFacility }}">Reservar</button>
                                {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-primary mt-2" style="background-color: #000053; border-color: #000053;">Inicia Sesión para Reservar</a>
                                {% endif %}

                                <!-- Formulario de Lista de Espera -->
                                {% if user.is_authenticated %}
                                <form action="{% url 'add_to_waitlist' facility_info.facility.idFacility %}" method="POST" class="mt-3">
                                    {% csrf_token %}
                                    <label for="dateInput_{{ facility_info.facility.idFacility }}">Fecha:</label>
                                    <input type="date" id="dateInput_{{ facility_info.facility.idFacility }}" name="date" class="form-control mb-2" required>
                                    <button type="submit" class="btn btn-warning">Añadir a Lista de Espera</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-VOLgN6fbpTbDXPeJm04IGFsjB5WlwF6kKm5pzoS7Vt5CayQPSiD3l0pvn5sKJdFQ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            // Inicializar datepicker
            $('.datePicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: new Date(),
                autoclose: true
            }).on('changeDate', function () {
                var selectedDate = $(this).val();
                var facilities_id = $(this).data('id-facility');
                var timeSlotSelect = $('#timeSlotSelect_' + facilities_id);
                var errorText = $('#error_' + facilities_id);

                console.log("Fecha seleccionada: " + selectedDate);
                console.log("ID de la instalación: " + facilities_id);

                // Hacer la petición Ajax para obtener los horarios disponibles
                $.ajax({
                    url: '{% url "get_availability_by_date" %}',
                    type: 'POST',
                    data: {
                        'date': selectedDate,
                        'idFacility': facilities_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        console.log("Respuesta de disponibilidad:", response);

                        // Limpiar la lista de horarios anteriores
                        timeSlotSelect.empty();

                        if (response.availability.length === 0) {
                            // Si no hay disponibilidad, mostrar el mensaje de error
                            errorText.show();
                        } else {
                            // Si hay horarios disponibles, ocultar el error y llenar el dropdown
                            errorText.hide();
                            timeSlotSelect.append('<option value="">Selecciona un horario...</option>');
                            response.availability.forEach(function (slot) {
                                timeSlotSelect.append('<option value="' + slot.time_slot + '">' + slot.time_slot + '</option>');
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al obtener los horarios:', error);
                    }
                });
            });

            // Manejar la reserva al hacer clic en el botón "Reservar"
            $('.reserve-btn').on('click', function () {
                var facilities_id = $(this).data('id-facility');
                var date = $('#datePicker_' + facilities_id).val();
                var time_slot = $('#timeSlotSelect_' + facilities_id + ' option:selected').text();

                if (date && time_slot) {
                    $.ajax({
                        url: '{% url "reservate" %}',
                        type: 'POST',
                        data: {
                            'facilities_id': facilities_id,
                            'date': date,
                            'time_slot': time_slot,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (response) {
                            console.log('Respuesta de reserva:', response);
                            if (response.success) {
                                alert('Reserva realizada con éxito. ID de reserva: ' + response.reservation_id);
                            } else {
                                alert('No se pudo realizar la reserva: ' + response.error);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error en la reserva:', error);
                            alert('Error en la reserva, intente de nuevo');
                        }
                    });
                } else {
                    alert('Por favor, selecciona una fecha y un horario.');
                }
            });
        });
    </script>

</body>
{% endblock content %}
</html>
